<%- include("partials/header") %>

<div class="mdui-container">
    <form action="/login" method="post">
        <div class="mdui-card" style="max-width: 500px; padding: 2em; margin: 100px auto">
            <div class="mdui-card-content">
                <h1 style="text-align:center">Login</h1>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">Email</label>
                    <input class="mdui-textfield-input" type="text" name="email" required />
                    <!-- <input class="mdui-textfield-input" type="email" name="email" required /> -->
                    <!-- <div class="mdui-textfield-error">Invalid Email Address</div> -->
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">Password</label>
                    <input class="mdui-textfield-input" type="password" name="password" required />
                    <!-- <input class="mdui-textfield-input" type="password" pattern="^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$"
                        name="password" required /> -->
                    <!-- <div class="mdui-textfield-error">Use 8 or more characters with a mix of letters, numbers</div>
                    <div class="mdui-textfield-helper">Use 8 or more characters with a mix of letters, numbers</div> -->
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <button class="mdui-btn mdui-btn-block mdui-color-blue-accent mdui-ripple"
                        type="submit">Login</button>
                </div>
                <p>Don't have an account? <a href="\register">Register Today!</a></p>
            </div>
        </div>
    </form>
</div>

<%- include("partials/footer") %>